#header{
 
    margin: 50px 60px 30px 140px;
    display: flex;
    justify-content:center;
    
}

body{
    margin: 10px 20px 30px 40px;
    display: block;
    background-image: url("./data/Pms24f.gif"); 
    background-repeat: no-repeat;
    background-position: center;   
    
}

#container{
    display: flex;
    justify-content:center;
}

#footer{
    margin-top : 30px;
    margin-bottom: 40px;
    margin-left: 150px;
    display: flex;
    justify-content:center;
}

#mahjang{
    padding-left: 100px;
    font-size: 20pt;
    margin-top: 10px;
    
}

a:hover{
    color: green;
}

header{
    font-size: 50pt;
    color: rgb(49, 117, 49);
    font-weight: bold;
}

#mmimg{
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img_box{
    /* position: fixed; */
    border: 0px;
    margin: 0px;
    overflow:hidden;
    box-sizing: border-box;
    height: 0px;
    transition-property: all;
    transition-duration: 4s;
   }
   
   input:checked ~#img_box {
    height: 150px;    
    transition-timing-function: ease-in;
   }




