#header{
    margin-left: 50px;
    margin: 50px 50px 30px 40px;
    margin-right: 20px;
    margin-top : 30px;
    margin-bottom: 40px;

}

body{
    margin: 10px 20px 30px 40px;
}

#footer{
    margin-top : 30px;
    margin-bottom: 40px;
    margin-left: 150px;
}

