#header{
 
    margin: 50px 60px 30px 140px;
    display: flex;
    justify-content:center;
    
}

body{
    margin: 10px 20px 30px 40px;
    display: block;
    background-image: url("./data/Pms24f.gif"); 
    background-repeat: no-repeat;
    background-position: center;   
    
}

#container{
    display: flex;
    justify-content:center;
}

#footer{
    margin-top : 30px;
    margin-bottom: 40px;
    margin-left: 150px;
    display: flex;
    justify-content:center;
}

#mahjang{
    padding-left: 100px;
    font-size: 20pt;
    margin-top: 10px;
}

a:hover{
    color: green;
}

header{
    font-size: 50pt;
    color: rgb(49, 117, 49);
    font-weight: bold;
}

.jb {
    box-sizing: border-box;

    height: 16px;
    margin: 10px 0px;
    background-color: orange;
    transition-property: all;
    transition-duration: 4s;
}
input:checked ~ .jb {
    width: 100%;
}
.jb1 {
    transition-timing-function: ease;
}

#img_box{
    /* position: fixed; */
    box-sizing: border-box;
    height: 16px;
    background-color: orange;

    right: 0px;
    transition-property: all;
	transition-duration: 4s;

    
    
}

input:checked ~ #img_box {
    /* width: 800px;     */
    transition-timing-function: ease-in;
}